@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

:root {
	--cor: #1b1926;
	--cor1: #400101;
	--cor2: #730202;
	--cor3: #a61103;
	--cor4: #f21905;
	--font: "Oswald", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.dicas {
	color: white;
	text-align: left;

	margin: 10px 10px;
}

hr {
	margin: 10px 3px;
}

a:hover {
	color: #a61103;
	text-decoration: overline;
}


body {
	font-family: var(--font), Arial, Helvetica, sans-serif;
	color: white;
	background-color: var(--cor2);
}

header {
	color: white;
	text-align: center;
	background-color: var(--cor);
	box-shadow: 5px 3px 10px black;

	position: fixed;
	top: 0;
	left: 0;
	height: 93px;
	width: 100%;
}

header h1 {
	margin-top: 5px;
}

nav {
	margin: 10px 0;
}

nav li, a {
	color: var(--cor4);
	text-decoration: none;
	list-style: none;
	display: inline-block;
	margin-left: 8px;
	margin-right: 10px;
}

#introducao {
	color: white;
	text-align: justify;
	width: 80vw;
	padding: 10px;
	margin: auto;
	margin-top: 120px;
}

#introducao > h2 {
	text-shadow: 3px 3px 6px black;
	margin-bottom: 20px;
}

#introducao p {
	text-shadow: 5px 5px 7px black;
	margin-left: 5px;
}

#showromCarros {
	background: url("../imagens/f1Car.jpg") center top no-repeat fixed;
	height: 300px;
	box-shadow: inset 6px 6px 13px 0px black;
}

#melhoresPilotos {
	color: white;
}

#melhoresPilotos a,
a:visited {
	color: var(--cor4);
}

#melhoresPilotos h3 {
	text-align: left;
	background-image: linear-gradient(to right, #1b1926, #0d0c12);
	margin-top: 30px;
	padding: 10px;
	display: inline-block;
	border-radius: 0 10px 10px 0;
}

.title {
	color: white;
	background-color: var(--cor);
	text-align: center;
	margin: 20px 10px;
	padding: 10px;
	border-radius: 10px 3px;
}

.fotosPilotos {
	background-size: contain;
	height: 250px;
	display: block;
	box-shadow: inset 6px 6px 13px 0px black;
}

#ayrtonSenna {
	background: url("../imagens/ayrton.jpg") center top no-repeat fixed;
}

#lewisHamilton {
	background: url("../imagens/hamilton.png") center center no-repeat fixed;
}

#michaelSchumacher {
	background: url("../imagens/schumacher.jpg") center top no-repeat fixed;
}

#melhoresPilotos p {
	text-align: justify;
	margin-left: 25px;
	width: 200px;
	padding: 10px;
}

.card {
	font-size: 1.2em;
	background-color: var(--cor);
	color: white;
	text-align: center;

	width: 25vw;
	height: 22vh;
	padding: 10px;
	display: inline-block;
	margin: 0 0 3vh 11vw;
	border-radius: 12px;
}
.card:hover {
	background-color: #16141f;
	box-shadow: 3px 3px 8px black;
}

.logo {
	height: 15vh;
	margin: auto;
	border-radius: 10px;
}

#mercedesLogo {
	background: url("../imagens/mercedesLogo.jpg") center center no-repeat;
	background-size: cover;
}

#ferrariLogo {
	background: url("../imagens/ferrari-logo.jpg") center center no-repeat;
	background-size: cover;
}
#mclarenLogo {
	background: url("../imagens/mclaren-logo.jpg") center center no-repeat;
	background-size: cover;
}
#williamsLogo {
	background: url("../imagens/williams-logo.jpg") center center no-repeat;
	background-size: cover;
}

.card1 {
	color: white;
	text-align: left;
	background-color: var(--cor);

	position: absolute;
	top: 2425px;
	left: 37px;
	width: 70vw;
	height: 400px;
	padding: 10px;
	display: none;

	border: 1px solid black;
	border-radius: 7px;
	box-shadow: 2px 2px 7px black;
}

#williamsCard1 {
	height: 480px;
}

.card1 ul {
	list-style: none;
}

.card1 input {
	position: absolute;
	top: 2vh;
	left: 65vw;
}

.card1 img {
	margin: auto;
	display: block;
}

#pistas {
	margin: 10px 15px;
}

#pistas p {
	margin-bottom: 10px;
}

#pistas h3 {
	color: var(--cor4);
	text-decoration: overline;
	padding: 5px;
}

.alinhamentoDireita {
	text-align: end;
}

#historias {
	background-color: var(--cor4);

	height: 2500px;
	margin: 30px 0;
}

#mensao {
	text-align: left;
	margin: auto;
	width: 250px;
	margin-bottom: 15px;
}

#historias h2 {
	text-align: center;

	padding: 10px;
}

#historias h3 {
	text-align: center;
	font-size: 1em;
	padding: 5px;
}

#historias article {
	text-align: justify;
	color: black;
	background-color: white;

	width: 70vw;
	margin: auto;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 5px;
	padding: 20px;
}

#historias img {
	margin: auto;
	display: block;
}

footer {
	background-color: var(--cor);
	text-align: center;
}

footer li {
	color: var(--cor4);
	text-decoration: none;
	list-style: none;
	display: inline-block;
	margin: 8px 10px;
}
