@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	body {
		background-image: linear-gradient(to bottom, #a61103, #730202, #400101);
	}
	main {
		margin: auto;
		width: 500px;
	}

	.dicasDesktop {
		display: none;
	}

	.card {
		width: 120px;
	}

	.card1 {
		width: 50vw;
	}

	.card1 input {
		position: absolute;
		top: 2vh;
		left: 45vw;
	}

	#historias > article {
		margin: 10px auto;
		width: 400px;
	}
}
